# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.env

# Backend
food_shelter-back/.venv
food_shelter-back/.env

# Frontend
node_modules/
food-shelter_front/node_modules
food-shelter_front/recipebox/node_modules
food-shelter_front/recipebox/build
